.navbar.navbar-default{
    background-color: white;
    border: none;
    border-bottom: 2px solid #4b75a4;
}
.nav .navbar-nav ul{
    color: #0e0e0e;
    font-weight: bold;
}
/*ul.nav.navbar-nav.languages li{*/
    /*border-left: 1px solid grey;*/

/*}*/
/*ul.nav.navbar-nav.languages li:first-child{*/
    /*border-left: none;*/
/*}*/
.navbar-brand img{
    width: 140px;
    height: 45px;
}
.languages li a{
    padding-right: 0px;
    padding-left: 0px;
}
.languages li a:first-child{
    padding-left: 5px;
}